@function screen($key) {
    @if map-has-key($screen-sizes, $key) {
        @return map-get($screen-sizes, $key);
    }

    @warn "Unknown `#{$key}` in $screen-sizes.";
    @return null;
}

@function font-size($key){
    $sizes : (
        h1: $font-size-h1,
        h2: $font-size-h2,
        h3: $font-size-h3,
        h4: $font-size-h4,
        h5: $font-size-h5,
        h6: $font-size-h6,
    );
    @if map-has-key($sizes, $key) {
        @return map-get($sizes, $key);
    }
    @warn "Unknown `#{$key}` in font-sizes.";
    @return null;
}
